.dashboard-tecnico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

.tecnico-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.tecnico-title-container {
  background-color: rgba(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
}

.tecnico-title {
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.tecnico-logo {
  width: 100px;
  height: auto;
  border-radius: 20%;
  margin: 0 20px;
}

.tecnico-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.tecnico-select-label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tecnico-select {
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.logout-button {
  background-color: red;
  border: 2px solid darkred;
  color: white;
  padding: 10px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tecnico-button:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.logout-button:hover {
  background-color: darkred;
}

/* Responsividad */
@media (max-width: 768px) {
  .tecnico-title {
    font-size: 2rem;
  }

  .tecnico-options {
    flex-direction: column;
    align-items: center;
  }

  .tecnico-select {
    font-size: 1rem;
    padding: 8px;
  }

  .logout-button {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  .tecnico-logo {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .tecnico-title {
    font-size: 1.5rem;
  }

  .tecnico-select {
    font-size: 0.9rem;
    padding: 10px;
  }

  .logout-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

.needs-review-option {
  color: red;
  font-weight: bold;
}

.crud-dispositivos-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 20px;
}

.crud-dispositivos-button:hover {
  background-color: #0056b3;
}
