/* Contenedor de la contraseña con el botón de mostrar/ocultar */
.password-container {
  position: relative;
  width: 100%; /* El contenedor ocupará todo el ancho */
}

.password-input {
  width: 100%; /* Ocupará todo el ancho disponible */
  padding-right: 40px; /* Espacio suficiente para el ícono */
  padding-left: 15px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box; /* Incluir el padding dentro del ancho total */
}

.toggle-password-icon {
  position: absolute;
  right: 10px; /* Separar el ícono del borde derecho */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Estilos previos en el archivo .css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Título de la aplicación */
.app-title {
  background: rgba(0, 0, 0); /* Fondo semi-transparente para contraste */
  font-size: 3rem;
  color: white;
  margin-top: 1%; /* Separar del borde superior */
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

/* Contenedor general */
.container {
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo {
  width: 150px;
  height: auto;
  border-radius: 20%;
}

/* Contenedor de opciones de login (Policía y Técnico) */
.login-options {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px auto; /* Centra los íconos en el eje horizontal */
}

.login-icon {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

/* Estilos del formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: transparent; /* Fondo transparente */
}

.login-input {
  width: 100%; /* Ambos campos tendrán el mismo ancho */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  box-sizing: border-box; /* Garantiza que padding esté dentro del tamaño total */
}

.login-input:focus {
  border-color: #007bff;
}

/* Botón de login */
.login-button {
  padding: 10px;
  background-color: #007bff;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:disabled {
  background-color: #007bff;
  color: rgba(255, 255, 255, 0.5); /* Color más claro cuando está deshabilitado */
  cursor: not-allowed;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    width: 95%; /* Ajustar el contenedor al 95% del ancho de la pantalla */
  }

  .login-form {
    width: 100%; /* Formularios ocuparán todo el ancho disponible */
    margin-top: 10px; /* Reducir el espacio entre los íconos y el formulario */
  }

  .app-title {
    font-size: 2rem; /* Reducir el tamaño del título en pantallas pequeñas */
  }

  .login-box {
    width: 80px;
    height: 80px;
    margin: 2px auto; /* Reducir aún más el margen entre los íconos */
  }  

  .login-icon {
    width: 80px;
    height: 80px;
  }

  .app-logo {
    width: 120px;
    height: auto;
    border-radius: 20%;
  }
}

/* Eliminar el ícono de visibilidad por defecto del navegador */
input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear, 
input[type="password"]::-webkit-clear-button, 
input[type="password"]::-webkit-reveal-button {
    display: none;
}
