.dashboard-policia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

.policia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.policia-title-container {
  background-color: rgba(255, 255, 255); 
  padding: 10px 20px;
  border-radius: 10px;
}

.policia-title {
  color: #318d16;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.policia-logo {
  width: 100px;
  height: auto;
  border-radius: 20%;
  margin: 0 20px;
}

.policia-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.policia-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.policia-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Estilo del botón en estado de alerta */
.policia-button.alerta-activa {
  background-color: red;
  color: white;
  border: 2px solid darkred;
  transform: scale(1.1);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* Efecto de hover para el botón en estado de alerta */
.policia-button.alerta-activa:hover {
  background-color: darkred;
  color: white;
  transform: scale(1.15);
}

.logout-button {
  background-color: red;
  border: 2px solid darkred;
  color: white;
  padding: 10px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: darkred;
}

/* Responsividad */
@media (max-width: 768px) {
  .policia-title {
    font-size: 2rem;
  }

  .policia-options {
    flex-direction: column;
    align-items: center;
  }

  .policia-button {
    margin-bottom: 20px;
  }

  .logout-button {
    font-size: 1.7rem;
    padding: 15px 40px;
  }

  .policia-logo {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .policia-title {
    font-size: 1.5rem;
  }

  .policia-button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .logout-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

/* Estilos para el fondo del modal */
.alerta-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos para el contenido del modal */
.alerta-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

/* Botón de cierre del modal */
.modal-close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
