html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gestionar-tecnicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
  height: 100%; /* Ocupa toda la altura de la pantalla */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-tecnico-container {
  background-color: rgb(0, 0, 0);
  padding: 10px 30px; /* Ajusta el padding */
  border-radius: 10px;
  margin-bottom: 20px; /* Añade separación con el contenedor de formulario */
  width: fit-content; /* Ajusta al ancho del contenido */
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.title-tecnico-container h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.gestionar-titulo {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.full-width {
  width: 100%;
}

.tecnico-buttons.equal-width .tecnico-button {
  flex: 1;
  margin: 0 5px;
}

.tecnico-form-container {
  background: rgba(0, 0, 0);
  padding: 50px 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Aumenta separación entre el título y el formulario */
}

.tecnico-select-admin,
.tecnico-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.tecnico-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  gap: 10px;
}

.tecnico-button {
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.actualizar {
  background-color: #4CAF50;
  color: #fff;
  flex: 1;
}

.eliminar {
  background-color: #f44336;
  color: #fff;
  flex: 1;
}

.agregar {
  background-color: #008CBA;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}

.back-button {
  margin-top: 25px;
  padding: 15px 45px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* Contenedor de la contraseña con el botón de mostrar/ocultar */ 
.gestionar-tecnico-password-container {
  position: relative;
  width: 100%; /* El contenedor ocupará todo el ancho */
}

.password-input {
  width: 100%; /* Ocupará todo el ancho disponible */
  padding-right: 40px; /* Espacio suficiente para el ícono */
  padding-left: 15px;
  height: 40px;

  border-radius: 5px;
  box-sizing: border-box; /* Incluir el padding dentro del ancho total */
}

.gestionar-tecnico-toggle-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-80%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Eliminar el ícono de visibilidad por defecto del navegador */
input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear, 
input[type="password"]::-webkit-clear-button, 
input[type="password"]::-webkit-reveal-button {
    display: none;
}

/* Media Query para pantallas móviles */
@media (max-width: 600px) {
  .gestionar-titulo {
    font-size: 1.5rem;
  }

  .tecnico-form-container {
    padding: 20px;
    width: 100%;
    box-shadow: none;
  }

  .tecnico-button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .back-button {
    padding: 12px 30px;
    font-size: 1rem;
  }
}
