/* AccessDenied.css */
.access-denied-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .access-denied-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .access-denied-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .access-denied-container p {
    background-color: #f5c6cb;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
  